<h1>Micropost App</h1>

<p><%= @user.name %> さん</p>

<p>
Micropost Appへようこそ。
リンクをクリックして、アカウントを有効化してください。
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>