<footer class="footer">
  <small>
    Go to <a href="https://github.com/yamakawa2020/micropost_app" target="_brank">GitHub repository</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
    </ul>
  </nav>
</footer>